[submodule "ஆடாசிட்டி64"]
	path = ஆடாசிட்டி64
	url = https://github.com/247i/AudaCity64.git
[submodule "எம்பி3குறி32"]
	path = எம்பி3குறி32
	url = https://github.com/247i/Mp3Tag32.git
[submodule "எம்பி3குறி64"]
	path = எம்பி3குறி64
	url = https://github.com/247i/Mp3Tag64.git
[submodule "ஆடாசிட்டி32"]
	path = ஆடாசிட்டி32
	url = https://github.com/247i/AudaCity32.git
[submodule "ஆஇஊஇ"]
	path = ஆஇஊஇ
	url = https://github.com/247i/AIMP.git
[submodule "பானைஆட்டக்காரர்"]
	path = பானைஆட்டக்காரர்
	url = https://github.com/247i/PotPlayer.git
[submodule "இசைமதிப்பெண்"]
	path = இசைமதிப்பெண்
	url = https://github.com/247i/MuseScore.git
[submodule "கிபஊஇ"]
	path = கிபஊஇ
	url = https://github.com/247i/QMMP.git
[submodule "வானொலிஉறுதி"]
	path = வானொலிஉறுதி
	url = https://github.com/247i/RadioSure.git
[submodule "படபட்டறை"]
	path = படபட்டறை
	url = https://github.com/247i/CamStudio.git
[submodule "காஉப"]
	path = காஉப
	url = https://github.com/247i/VLC.git
[submodule "திஓமெ-பட்டறை"]
	path = திஓமெ-பட்டறை
	url = https://github.com/247i/OBS-Studio.git
